<mat-toolbar color="primary">
    <span>What's good IN THE HOOD!</span>
</mat-toolbar>

<div class="container">
    <!-- Search Bar -->
    <app-search-bar></app-search-bar>

    <!-- Add Ad Button -->
    <button mat-icon-button (click)="openAdDialog()">
        <mat-icon>add</mat-icon>
    </button>

    <!-- Loading Spinner -->
    <div *ngIf="adService.isLoading()" class="loading-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <!-- Ads Grid -->
    <app-ads-grid *ngIf="!adService.isLoading()" (editAd)="openEditDialog($event)"></app-ads-grid>
</div>